# CODING TASK #1. IMPORT DATA

In [155]:
import pandas as pd

In [156]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'employee_information.csv'

In [ ]:
employee_df

In [ ]:
employee_df.describe()

**PRACTICE OPPORTUNITY #1 [OPTIONAL]:**
- **What's the name of the employee who was most loyal to the company?**
- **How can you filter out this employee features using Pandas? [external research is required]**

In [ ]:
# Method1 (as pandas dataframe)
employee_df[(employee_df['Years with Company'] == max(employee_df['Years with Company']))]

In [ ]:
# Method2 (as pandas series)
employee_df.iloc[employee_df['Years with Company'].argmax()]

In [ ]:
# Method3 (as pandas dataframe)
employee_df.nlargest(1, ['Years with Company'])

# CODING TASK #2. SELECTING COLUMNS FROM A DATAFRAME

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

In [ ]:
# Return a column from the DataFrame
# Note that the output will be a Pandas Series (you can automatically tell by the lack of formating)
sample = employee_df['Email']
sample

In [ ]:
# Confirm the datatype of sample
type(sample)

In [ ]:
# Alternatively, you can use the following syntax to do the same
# Note that this method will not work if there are spaces in the column names
employee_df.Email

In [ ]:
# Since the column name has spaces, this will be the only way that will work!
employee_df['Years with Company']

In [157]:
# Let's select multiple columns from the DataFrame
# you need to define a list containing all column names that you would like to select
# Note that since we collected more than one column, the output is a DataFrame (Notice the rich formatting)
sample = employee_df[['First Name', 'Salary']]
sample

  First Name     Salary
8     Joseph    2629.13
0       Mike    5000.00
4       Kate    5000.00
9       Noah    8626.96
2       Nina    9072.02
1       Noah   10000.00
3    Chanel    11072.02
7      Laila   20000.00
6       Heba   50000.00
5      Samer  100000.00

In [158]:
# Note that sample is now a DataFrame and not a Pandas Series (since it has multiple columns)
# You can use type to confirm or you can tell from the rich text formating
type(sample)

pandas.core.frame.DataFrame

In [159]:
# In order to access a given row in the dataframe
employee_df[0:3]

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New
8,Joseph,Patton,2629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256
0,Mike,Moe,5000.00,3,N94 3M0,bird@gmail.com,5600.0000
4,Kate,Noor,5000.00,23,K8N 5H6,kate@hotmail.com,5600.0000

**PRACTICE OPPORTUNITY #2 [OPTIONAL]:**
- **Select the following columns from the dataFrame Salary, Years with Company, and Postal Code**

In [160]:
employee_df[["Salary", "Years with Company", "Postal Code"]]

      Salary  Years with Company Postal Code
8    2629.13                   2     M6U 5U7
0    5000.00                   3     N94 3M0
4    5000.00                  23     K8N 5H6
9    8626.96                  11     K2D 4M9
2    9072.02                  17     S1T 4E6
1   10000.00                   8     N8S 14K
3   11072.02                  12     N7T 3E6
7   20000.00                   5     J8Y 3M0
6   50000.00                   7     K8Y 3M8
5  100000.00                  13     J7H 3HY

# CODING TASK #3. ADDING/DELETING COLUMNS TO DATAFRAME

In [161]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

FileNotFoundError: [Errno 2] No such file or directory: 'employee_information.csv'

In [ ]:
# Let's assume that we want to add a new column to the dataframe
employee_df['Age'] = [25, 26, 28, 30, 36, 22, 48, 55, 70, 69]

In [ ]:
employee_df

In [ ]:
# You can also insert a new column in a given position 
employee_df.insert(0, column = 'Credit Score', value = [680, 700, 750, 699, 550, 600, 750, 500, 520, 510])

In [ ]:
employee_df

In [ ]:
# Delete a column from a DataFrame
del employee_df['Email']
employee_df

In [ ]:
employee_df.drop(labels = ["Last Name", "Salary"], axis = 1, inplace = True)
employee_df

In [ ]:
# Remove a column from a DataFrame and store it somehwere else using pop
Years_with_company = employee_df.pop("Years with Company")
Years_with_company

**PRACTICE OPPORTUNITY #3 [OPTIONAL]:**
- **load the employee_information.csv file and perform the following: (assume any reasonable values)** 
    - **Add a column indicating whether the employee has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

In [ ]:
employee_df = pd.read_csv('employee_information.csv')
employee_df

In [ ]:
employee_df['Has Mortgage'] = [True, False, False, False, False, False, False, False, False, False]
employee_df["Mortgage Amount"] = [1000, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
employee_df.head(3)

# CODING TASK #4. LABEL-BASED ELEMENTS SELECTION FROM A DATAFRAME ".LOC()"

In [ ]:
# Load the csv file and set the last name as the index
employee_df = pd.read_csv('employee_information.csv', index_col = 'Last Name')
employee_df

In [ ]:
# Sort the dataframe in an alphabetical order
employee_df.sort_index(inplace = True)

In [ ]:
employee_df

In [162]:
# loc is used to filter rows and columns
# loc is label-based meaning you need to give a name of the rows (or columns) that you are interested in selecting
# Note that iloc is "integer index-based" meaning you can filter rows/columns by their integer index.
# Note that we obtained a Series because last name "Aly" existed only once in the dataframe

employee_df.loc['Aly']

KeyError: 'Aly'

In [ ]:
# Note that you can select multiple rows using "colon :"
# Note that this is inclusive! meaning that "Aly" and "Patton" were selected in the output DataFrame
# Headsup: this will be different if we use integer based index such as iloc()

employee_df.loc['Aly':'Patton']

In [ ]:
# Select all elements up to and including 'Keller' index
employee_df.loc[:'Keller']

In [ ]:
# if you want to select multiple rows, you can pass them as a list as follows
employee_df.loc[["Keller", "Steve", "Mo"]]

In [ ]:
# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
employee_df.sample(n = 5, axis = 0)

In [ ]:
# return a percentage (Ex: 30%) of the rows 
employee_df.sample(frac = 0.3, axis = 0)

**PRACTICE OPPORTUNITY #4 [OPTIONAL]:**
- **Load the 'employee_information.csv' data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

In [ ]:
employee_df = pd.read_csv('employee_information.csv', index_col='First Name')
employee_df

In [ ]:
employee_df.sample(n=2)

# CODING TASK #5. INTEGER INDEX-BASED ELEMENTS SELECTION FROM A DATAFRAME "iLOC()"

In [163]:
# Load the CSV file with default index
employee_df = pd.read_csv('employee_information.csv')
employee_df

FileNotFoundError: [Errno 2] No such file or directory: 'employee_information.csv'

In [ ]:
# You can access rows with their numeric index using iloc
employee_df.iloc[9]

In [ ]:
# You can access multiple rows with their numeric index using iloc and colon :
# Note that using iloc is exclusive, meaning that we did not include the last element (quite confusing I know!)
# We went from index = 2 up until and not including index 5 so index 2,3, and 4 are the one selected
employee_df.iloc[2:5]

In [ ]:
# all up until and not including index 4
employee_df.iloc[:4]

In [ ]:
# Multiple elements are selected using a list of indexes 
employee_df.iloc[[2, 4, 9]]

In [ ]:
# Slicing a piece of the dataframe by selecting which row and column you would like to select
# Row 4, Columns 0, 1 & 2
employee_df.iloc[4, 0:3]

In [ ]:
employee_df

**PRACTICE OPPORTUNITY #5: [OPTIONAL]**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

In [ ]:
# Method 1
# employee_count = len(employee_df.index)
# employee_df[employee_count-2:]

employee_df[-2:]

In [ ]:
# Method 2
# employee_count = len(employee_df.index)
# employee_df.iloc[[employee_count-2, employee_count-1]]

employee_df.iloc[[-2, -1]]

# CODING TASK #6. BROADCASTING OPERATIONS & SETTING NEW DATAFRAME VALUES

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

In [164]:
# Let's assume that we want to update the salaries of all our employees by $1000
employee_df['Salary'] = employee_df['Salary'] + 1000

In [165]:
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New
8,Joseph,Patton,3629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256
0,Mike,Moe,6000.00,3,N94 3M0,bird@gmail.com,5600.0000
4,Kate,Noor,6000.00,23,K8N 5H6,kate@hotmail.com,5600.0000
9,Noah,Moran,9626.96,11,K2D 4M9,guutodi@bigwoc.kw,9662.1952
2,Nina,Keller,10072.02,17,S1T 4E6,azikez@gahew.mr,10160.6624
1,Noah,Ryan,11000.00,8,N8S 14K,nsmall@hotmail.com,11200.0000
3,Chanel,Steve,12072.02,12,N7T 3E6,chanel@gmail.com,12400.6624
7,Laila,Aly,21000.00,5,J8Y 3M0,Laila.a@hotmail.com,22400.0000
6,Heba,Steve,51000.00,7,K8Y 3M8,heba.ismail@hotmail.com,56000.0000
5,Samer,Mo,101000.00,13,J7H 3HY,samer@gmail.com,112000.0000

In [166]:
# Alternatively, you can add or subtract as follows
employee_df['Salary'] = employee_df['Salary'].add(1000)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New
8,Joseph,Patton,4629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256
0,Mike,Moe,7000.00,3,N94 3M0,bird@gmail.com,5600.0000
4,Kate,Noor,7000.00,23,K8N 5H6,kate@hotmail.com,5600.0000
9,Noah,Moran,10626.96,11,K2D 4M9,guutodi@bigwoc.kw,9662.1952
2,Nina,Keller,11072.02,17,S1T 4E6,azikez@gahew.mr,10160.6624
1,Noah,Ryan,12000.00,8,N8S 14K,nsmall@hotmail.com,11200.0000
3,Chanel,Steve,13072.02,12,N7T 3E6,chanel@gmail.com,12400.6624
7,Laila,Aly,22000.00,5,J8Y 3M0,Laila.a@hotmail.com,22400.0000
6,Heba,Steve,52000.00,7,K8Y 3M8,heba.ismail@hotmail.com,56000.0000
5,Samer,Mo,102000.00,13,J7H 3HY,samer@gmail.com,112000.0000

In [167]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD 
employee_df['Salary (CAD)'] = employee_df['Salary'].mul(1.3)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New,Salary (CAD)
8,Joseph,Patton,4629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256,6017.869
0,Mike,Moe,7000.00,3,N94 3M0,bird@gmail.com,5600.0000,9100.000
4,Kate,Noor,7000.00,23,K8N 5H6,kate@hotmail.com,5600.0000,9100.000
9,Noah,Moran,10626.96,11,K2D 4M9,guutodi@bigwoc.kw,9662.1952,13815.048
2,Nina,Keller,11072.02,17,S1T 4E6,azikez@gahew.mr,10160.6624,14393.626
1,Noah,Ryan,12000.00,8,N8S 14K,nsmall@hotmail.com,11200.0000,15600.000
3,Chanel,Steve,13072.02,12,N7T 3E6,chanel@gmail.com,12400.6624,16993.626
7,Laila,Aly,22000.00,5,J8Y 3M0,Laila.a@hotmail.com,22400.0000,28600.000
6,Heba,Steve,52000.00,7,K8Y 3M8,heba.ismail@hotmail.com,56000.0000,67600.000
5,Samer,Mo,102000.00,13,J7H 3HY,samer@gmail.com,112000.0000,132600.000

In [168]:
# Decided to update the email address of a given customer
employee_df.iloc[4, 5] = 'kate.noor@gmail.com'

In [169]:
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New,Salary (CAD)
8,Joseph,Patton,4629.13,2,M6U 5U7,daafeja@boh.jm,2944.6256,6017.869
0,Mike,Moe,7000.00,3,N94 3M0,bird@gmail.com,5600.0000,9100.000
4,Kate,Noor,7000.00,23,K8N 5H6,kate@hotmail.com,5600.0000,9100.000
9,Noah,Moran,10626.96,11,K2D 4M9,guutodi@bigwoc.kw,9662.1952,13815.048
2,Nina,Keller,11072.02,17,S1T 4E6,kate.noor@gmail.com,10160.6624,14393.626
1,Noah,Ryan,12000.00,8,N8S 14K,nsmall@hotmail.com,11200.0000,15600.000
3,Chanel,Steve,13072.02,12,N7T 3E6,chanel@gmail.com,12400.6624,16993.626
7,Laila,Aly,22000.00,5,J8Y 3M0,Laila.a@hotmail.com,22400.0000,28600.000
6,Heba,Steve,52000.00,7,K8Y 3M8,heba.ismail@hotmail.com,56000.0000,67600.000
5,Samer,Mo,102000.00,13,J7H 3HY,samer@gmail.com,112000.0000,132600.000

**PRACTICE OPPORTUNITY #6 [OPTIONAL]:**
- **Let's assume that all employees have been performing really well and their salaries have increased by 12% annualy. Calculate the sum of all employees salaries.**

In [ ]:
# Increase all salaries by 12%
employee_df['Salary New'] = employee_df['Salary'].mul(1.12)
employee_df

,First Name,Last Name,Salary,Years with Company,Postal Code,Email,Salary New,Salary (CAD)
8,Joseph,Patton,4629.13,2,M6U 5U7,daafeja@boh.jm,5184.6256,6017.869
0,Mike,Moe,7000.00,3,N94 3M0,bird@gmail.com,7840.0000,9100.000
4,Kate,Noor,7000.00,23,K8N 5H6,kate@hotmail.com,7840.0000,9100.000
9,Noah,Moran,10626.96,11,K2D 4M9,guutodi@bigwoc.kw,11902.1952,13815.048
2,Nina,Keller,11072.02,17,S1T 4E6,kate.noor@gmail.com,12400.6624,14393.626
1,Noah,Ryan,12000.00,8,N8S 14K,nsmall@hotmail.com,13440.0000,15600.000
3,Chanel,Steve,13072.02,12,N7T 3E6,chanel@gmail.com,14640.6624,16993.626
7,Laila,Aly,22000.00,5,J8Y 3M0,Laila.a@hotmail.com,24640.0000,28600.000
6,Heba,Steve,52000.00,7,K8Y 3M8,heba.ismail@hotmail.com,58240.0000,67600.000
5,Samer,Mo,102000.00,13,J7H 3HY,samer@gmail.com,114240.0000,132600.000

In [ ]:
# Calculate the sum of all employees salaries
employee_df['Salary New'].sum()

# CODING TASK #7. PERFORM PANDAS DATAFRAMES SORTING AND ORDERING

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('employee_information.csv')
employee_df

In [ ]:
# You can sort the values in the dataframe according to number of years with bank
employee_df.sort_values(by = 'Years with Company')

In [ ]:
# Note that nothing changed in memory! you have to make sure that inplace is set to True
employee_df

In [ ]:
# Set inplace = True to ensure that change has taken place in memory 
employee_df.sort_values(by = 'Years with Company', inplace = True)

In [ ]:
# Note that now the change (ordering) took place 
employee_df

In [ ]:
# You can sort the values in a descending order as follows
employee_df.sort_values(by = 'Years with Company', ascending = False, inplace = True) 
employee_df

In [ ]:
# You can sort the dataframe with index instead of values as follows
employee_df.sort_index(inplace = True) 
employee_df

**PRACTICE OPPORTUNITY #7 [OPTIONAL]:**
- **Sort employees by salaries instead of years with Company. Make sure to update values in-memory.**

In [ ]:
employee_df.sort_values(by = 'Salary', ascending = True, inplace = True) 
employee_df

# EXCELLENT JOB!

# PRACTICE OPPORTUNITIES SOLUTIONS

**PRACTICE OPPORTUNITY #1 SOLUTION:**
- **What's the name of the employee who was most loyal to the company?**
- **How can you filter out this employee features using Pandas? [external research is required]**

In [ ]:
# Kate Noor has been with the company for 23 years

In [ ]:
employee_df[employee_df['Years with Company']==23]

**MINI CHALLENGE #2 SOLUTION:**
- **Select the following columns from the dataFrame Salary, Years with Company, and Postal Code**

In [ ]:
my_selected_columns = ['Salary', 'Years with Company', 'Postal Code']
sample = employee_df[my_selected_columns]
sample

**PRACTICE OPPORTUNITY #3 SOLUTION:**
- **load the employee_information.csv file and perform the following: (assume any reasonable values)** 
    - **Add a column indicating whether the employee has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

# Let's assume that we want to add a new column to the dataframe
employee_df['Has Mortage'] = [1, 1, 0, 0, 0, 0, 1, 0, 0, 0]
employee_df['Mortage Value'] = [200000, 130000, 0, 0, 0, 0, 400000, 0, 0, 0]
employee_df

**PRACTICE OPPORTUNITY #4 SOLUTION:**
- **Load the csv data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

In [ ]:
# Load the csv file and set the last name as the index
employee_df = pd.read_csv('employee_information.csv', index_col = 'First Name')
employee_df

# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
employee_df.sample(n = 2, axis = 0)

**PRACTICE OPPORTUNITY #5 SOLUTION:**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

In [ ]:
employee_df.iloc[8:]

In [ ]:
employee_df.iloc[-2:]

**PRACTICE OPPORTUNITY #6 SOLUTION:**
- **Let's assume that all employees have been performing really well and their salaries have increased by 12% annualy. Calculate the sum of all employees salaries.**

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

In [ ]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD 
employee_df['Salary New'] = employee_df['Salary'].mul(1.12)
employee_df

In [ ]:
employee_df['Salary New'].sum()

In [ ]:
print("Total networth for all clients = ${}".format( employee_df['Salary New'].sum()))

**PRACTICE OPPORTUNITY #7 SOLUTION:**
- **Sort employees by salaries instead of years with Company. Make sure to update values in-memory.**

In [ ]:
# You can sort the values in the dataframe according to number of years with bank
employee_df.sort_values(by = 'Salary', inplace = True) 
employee_df